<h1>Add a New Place</h1>

<form action="/places" method="post">
  <p>
    <label for="name">Name:</label>
    <input name="name" id="name" type="text">
  </p>

  <button>Add Place</button>
</form>

<p>
  <a href="/places">Cancel</a>
</p>